<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        const currentValue = parseInt(document.querySelector(`.id_qty_${itemId}`).value);
        const minusDisabled = currentValue < 2;
        const plusDisabled = currentValue > 98;
        document.querySelector(`.decrement-qty_${itemId}`).disabled = minusDisabled;
        document.querySelector(`.increment-qty_${itemId}`).disabled = plusDisabled;
    }

    // Ensure proper enabling/disabling of all inputs on page load
    const allQtyInputs = document.querySelectorAll('.qty_input');
    allQtyInputs.forEach(input => {
        const itemId = input.dataset.item_id;
        handleEnableDisable(itemId);
    });

    // Check enable/disable every time the input is changed
    allQtyInputs.forEach(input => {
        input.addEventListener('change', function() {
            const itemId = this.dataset.item_id;
            handleEnableDisable(itemId);
        });
    });

    // Increment quantity
    const incrementButtons = document.querySelectorAll('.increment-qty');
    incrementButtons.forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const closestInput = this.closest('.input-group').querySelector('.qty_input');
            const currentValue = parseInt(closestInput.value);
            closestInput.value = currentValue + 1;
            const itemId = this.dataset.item_id;
            handleEnableDisable(itemId);
        });
    });

    // Decrement quantity
    const decrementButtons = document.querySelectorAll('.decrement-qty');
    decrementButtons.forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const closestInput = this.closest('.input-group').querySelector('.qty_input');
            const currentValue = parseInt(closestInput.value);
            if (currentValue > 1) {
            closestInput.value = currentValue - 1;
            const itemId = this.dataset.item_id;
            handleEnableDisable(itemId);
            }
        });
    });
</script>
