    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h3 class="logo-font">Obscura view</h3>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/anthonyradose" target="_blank" class="text-light text-decoration-none "><i class="bi bi-github"></i> Github</a></li>
                    <li><a href="https://www.linkedin.com/in/anthony-radose-35a969236" target="_blank" class="text-light text-decoration-none "><i class="bi bi-linkedin"></i> Linkedin</a></li>
                    <li><a href="https://www.instagram.com/asradose" target="_blank" class="text-light text-decoration-none "><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-2">
        
                <ul class="list-unstyled">
                </ul>
            </div>
            <div class="col-md-6">
                <h5>About</h5>
                <p>A fictional e-commerce site imagined as a photo gallery store.</p>
                <p>DISCLAIMER: This site is a project designed to mimic an e-commerce site. All photographers and products are fictional. The pictures obtained are royalty-free and are credited to the actual photographers in the github repository. Users can simulate payment using stripe's test payment system, no actual charges will occur.</p>
            </div>
        </div>
    </div>
    <div class="text-center small py-2">
        Made by Anthony Radose
    </div>