<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="{% url 'home' %}">
                <i class= "home-logo bi bi-house-fill"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class=" fw-bold nav-link text-black me-5" href="#" id="standard-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Standard Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="standard-prints-link">
                <a href="{% url 'products' %}?category=architecture" class="dropdown-item">Architecture</a>
                <a href="{% url 'products' %}?category=cultural" class="dropdown-item">Cultural</a>
                <a href="{% url 'products' %}?category=science_and_tech" class="dropdown-item">Science & Tech</a>
                <a href="{% url 'products' %}?category=sport" class="dropdown-item">Sport</a>
                <a href="{% url 'products' %}?category=architecture,cultural,science_and_tech,sport" class="dropdown-item">All Standard Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="canvas-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Canvas Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="canvas-prints-link">
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                <a href="{% url 'products' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'products' %}?category=abstract,nature" class="dropdown-item">All Canvas Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="framed-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Framed Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="framed-prints-link">
                <a href="{% url 'products' %}?category=black_and_white" class="dropdown-item">Black & White</a>
                <a href="{% url 'products' %}?category=cars" class="dropdown-item">Cars</a>
                <a href="{% url 'products' %}?category=people" class="dropdown-item">People</a>
                <a href="{% url 'products' %}?category=street_photography" class="dropdown-item">Street Photography</a>
                <a href="{% url 'products' %}?category=black_and_white,cars,people,street_photography" class="dropdown-item">All Framed Prints</a>
            </div>
        </li>
    </ul>
</div>
