<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class=" fw-bold nav-link text-black me-5" href="#" id="standard-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Standard Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="standard-prints-link">
                <a href="" class="dropdown-item">Small</a>
                <a href="" class="dropdown-item">Medium</a>
                <a href="" class="dropdown-item">Large</a>
                <a href="" class="dropdown-item">All Standard Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="canvas-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Canvas Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="canvas-prints-link">
                <a href="" class="dropdown-item">Small</a>
                <a href="" class="dropdown-item">Medium</a>
                <a href="" class="dropdown-item">Large</a>
                <a href="" class="dropdown-item">All Canvas Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black me-5" href="#" id="framed-prints-link" data-bs-toggle="dropdown" aria-expanded="false">
                Framed Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="framed-prints-link">
                <a href="" class="dropdown-item">Small</a>
                <a href="" class="dropdown-item">Medium</a>
                <a href="" class="dropdown-item">Large</a>
                <a href="" class="dropdown-item">All Framed Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="fw-bold nav-link text-black" href="#" id="offers-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
