{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="image-container my-5">
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-5">
        <p class="mb-0">{{ product.name }}</p>
        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
        <p class="small mt-1 mb-0">
          <a
            class="text-muted"
            href="{% url 'products' %}?category={{ product.category.name }}"
          >
            <i class="bi bi-tag me-1"></i>{{ product.category.friendly_name }}
          </a>
        </p>
        {% if average_rating %}
        <small class="text-muted"
          ><i class="bi bi-star me-1"></i>Rating: {{ average_rating|default:0|floatformat:1 }} / 5</small
        >
        {% else %}
        <small class="text-muted">No Rating</small>
        {% endif %} 
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_product' product.id %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_product' product.id %}"
            >Delete</a
          >
        </small>
        {% endif %}
        <p class="mt-3">{{ product.description }}</p>
        <p class="mb-0">{{ product.photographer }}</p>
        <form
          class="form"
          action="{% url 'add_to_basket' product.id %}"
          method="POST"
        >
          {% csrf_token %}

          <div class="form-row">
            <div class="col-12">
              <p><strong>Size:</strong></p>
              <select
                class="form-control rounded-0 w-50"
                name="product_size"
                id="id_product_size"
              >
                <option value="s">S</option>
                <option value="m" selected>M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
              </select>
            </div>

            <div class="col-12">
              <p class="mt-3"><strong>Quantity:</strong></p>
              <div class="form-group w-50">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="decrement-qty btn btn-dark rounded-0 decrement-qty_{{ product.id }}"
                      data-item_id="{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="bi bi-dash"></i>
                      </span>
                    </button>
                  </div>
                  <input
                    class="form-control qty_input id_qty_{{ product.id }}"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    max="99"
                    data-item_id="{{ product.id }}"
                  />
                  <div class="input-group-append">
                    <button
                      class="increment-qty btn btn-dark rounded-0 increment-qty_{{ product.id }}"
                      data-item_id="{{ product.id }}"
                    >
                      <span class="icon">
                        <i class="bi bi-plus"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2">
              <a
                href="{% url 'products' %}"
                class="btn btn-dark rounded-0 mt-5"
              >
                <span class="icon">
                  <i class="bi bi-chevron-left"></i>
                </span>

                <span class="text-uppercase">Keep Shopping</span>
              </a>
              <input
                type="submit"
                class="btn btn-dark rounded-0 text-uppercase mt-5"
                value="Add to Basket"
              />
            </div>
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}"
            />
          </div>
        </form>
        <form method="post" action="{% url 'add_to_wishlist' product.id %}">
          {% csrf_token %}
          <button class="btn btn-light rounded-0" type="submit">Add to Wishlist</button>
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
        </form>
        <button
          class="btn btn-dark rounded-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#reviewCollapse"
          aria-expanded="false"
          aria-controls="reviewCollapse"
        >
          Toggle Reviews
        </button>
        <div class="collapse mt-3" id="reviewCollapse">
          {% if existing_reviews %}
          <ul class="list-group">
            {% for review in reviews %}
            <li class="list-group-item">
              <strong>{{ review.title }}</strong>
              <strong>{{ review.user.username }}</strong>: {{ review.body }}
              <br />
              <small>{{ review.created_at }}</small>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No reviews yet. Be the first to review this product!</p>
          {% endif %}
        </div>


        
        {% if existing_review %}
        <p>You have already reviewed this product.</p>
        {% else %}
        <button
          type="button"
          class="btn btn-dark rounded-0"
          data-bs-toggle="modal"
          data-bs-target="#addReviewModal"
        >
          Open Add Review Form
        </button>

        <!-- Add Review Modal -->
        <div
          class="modal fade"
          id="addReviewModal"
          tabindex="-1"
          aria-labelledby="addReviewModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addReviewModalLabel">Add Review</h5>
                <button
                  type="button"
                  class="btn-close rounded-0"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form method="post" action="{% url 'add_review' product.id %}">
                <div class="modal-body">
                  {% csrf_token %} {{ form|crispy }}
                  <input
                    type="hidden"
                    name="redirect_url"
                    value="{{ request.path }}"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary rounded-0"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary rounded-0">
                    Add Review
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_input_script.html' %} 
{% endblock %}
